button{
  width: 95%;
  letter-spacing: 7px;
  border: none;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  font-size: 2.5rem;
  background-color: #199ba3;
  color: azure;
}

button:disabled{
  background-color: #888;
  cursor: not-allowed;
}