.post-card {
  /* background: #383e49; */
  background-color: rgb(204, 202, 202);
  color: black;
  box-shadow: 0 0 30px rgba(0, 0, 0, .7);
  transition: all .1s linear;
  border-radius: 5px;
  /* border: #61dafb solid 3px; */
  /* margin: 20px; */
}

.post-card:hover{
  scale: 1.15;
}

.card-text {
  padding: 20px;
}
